<div class="prtm-content">
    <form [formGroup]="searchForm">
        <div class="table-style">
            <div class="row">
                <div class="prtm-page-bar">
                    <div class="col-lg-4 col-xs-12">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item text-capitalize">
                                <h2> Availability Details</h2>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-xs-8">
                    <div class="prtm-full-block tables-margin outer-border-none">
                        <div class="prtm-block-content">
                            <div class="row">
                                <div class="col-md-4 col-xs-4 mrgn-b-lg">
                                    <label>Vendor</label>
                                    <select class="form-control" formControlName="VendorId">
                                        <option *ngFor="let vendor of vendorList" value="{{vendor.Id}}">
                                            {{vendor.UserProfile.FirstName + " " + vendor.UserProfile.LastName}}
                                        </option>
                                    </select>
                                </div>

                                <div class="col-md-4 col-xs-4 mrgn-b-lg">
                                    <label>Date</label>
                                    <input type="text" class="form-control" formControlName="Date" bsDatepicker
                                        [minDate]="mindate" [bsConfig]="{dateInputFormat: 'YYYY/MM/DD' }" />
                                </div>
                                <div class="col-md-4 col-xs-4 mrgn-b-lg">
                                    <!-- <label> &nbsp;</label> -->
                                    <button class="btn add-btn"
                                        (click)="searchAvailability(searchForm.value)">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="table-style" *ngIf="availableList.length > 0">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="prtm-full-block tables-margin outer-border-none">
                    <div class="prtm-block-content">
                        <div class="table-responsive">
                            <table class="table table-hover light-heading table-bordered-curved prtm-full-block">
                                <thead class="thead-primary">
                                    <tr>
                                        <!-- <th style="width:20%;">Vendor ID</th> -->
                                        <th style="width:20%;">Car Model</th>
                                        <th style="width:15%;">Type</th>
                                        <th style="width:15%;">Plate No</th>
                                        <!-- <th style="width:30%;">actions</th> -->
                                    </tr>
                                </thead>
                            </table>
                            <table class="table table-hover light-heading table-bordered-curved prtm-full-block" *ngIf="availableList.length > 0">
                                <tbody>
                                    <tr *ngFor="let car of availableList">
                                        <td style="width:20%;">
                                            <span class="package-name">{{car.CarModel}}</span>
                                        </td>
                                        <td style="width:20%;">
                                            <span class="package-name">{{car.CarType}}</span>
                                        </td>
                                        <td style="width:15%;">
                                            <span class="package-name">{{car.PlateNo}}</span>
                                        </td>
                                        <td style="width:15%;">
                                            <span class="package-name">{{car.Status}}</span>
                                        </td>
                                        <!-- <td style="width:30%" class="action-btns">
                                            <a [routerLink]="['/admin/carrental/update',res.Id]" class="scnd-action">
                                                <i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit</a>
                                            <a (click)="openConfirmationDialog(res.Id)" class="scnd-action">
                                                <i class="fa fa-trash"></i>&nbsp;&nbsp;Delete</a>
                                        </td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>