<div class="prtm-content">
    <div class="prtm-page-bar">
      <div class="row">
        <div class="col-lg-4 col-xs-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item text-capitalize">
              <h2> Register Car List</h2>
            </li>
          </ul>
        </div>
        <div class="col-lg-4 col-xs-12 text-right">
          <a [routerLink]='["/admin/carregistration/add"]' class="new-package-btn btn"><i aria-hidden="true" class="fa fa-plus"></i>&nbsp;&nbsp; Register New Car</a></div>
      </div>
    </div>
    <div class="table-style">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="prtm-full-block tables-margin outer-border-none">
            <div class="prtm-block-content">
              <div class="table-responsive">
                <table class="table table-hover light-heading table-bordered-curved prtm-full-block">
                  <thead class="thead-primary">
                    <tr>
                      <th style="width:20%;">CarType</th>
                      <th style="width:20%;">Vender Name</th>
                      <th style="width:15%;">Car Model</th>
                      <th style="width:15%;">Plate-NO</th>
                      <th style="width:30%;">actions</th>
                    </tr>
                  </thead>
                </table>
                <table class="table table-hover light-heading table-bordered-curved prtm-full-block">
                  <tbody>
                    <tr *ngFor="let res of this.RegisterCardata">
                      <td style="width:20%;">
                        <span class="package-name">{{res.CarType.Name}}</span>
                      </td>
                      <td style="width:20%;">
                        <span class="package-name"  >{{res.User.UserProfile.FirstName}}</span>
                      </td>
                      <td style="width:15%;">
                        <span class="package-name"  >{{res.CarModel.Name}}</span>
                      </td>
                      <td style="width:15%;">
                        <span class="package-name"  >{{res.PlateNo}}</span>
                      </td>
  
                      <td style="width:30%" class="action-btns">
                        <a href="/admin/carregistration/update/{{res.Id}}" class="scnd-action">
                          <i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit</a>
                        <a (click)="openConfirmationDialog(res.Id)" class="scnd-action">
                          <i class="fa fa-trash"></i>&nbsp;&nbsp;Delete</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <app-pagination [count]="count" [page]="page" [perPage]="perPage" [pagesToShow]="pagesToShow" [loading]="loading"
          (goPrev)="prevPage()" (goNext)="nextPage()" (goPage)="goToPage($event)">
        </app-pagination>
  
      </div>
    </div>
  </div>
