<div class="prtm-content">
    <div class="prtm-page-bar">
        <ul class="breadcrumb">
            <li class="breadcrumb-item text-capitalize">
                <h2>Dashboard</h2>
            </li>   
        </ul>
    </div>
    <div class="table-style">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="prtm-full-block">
                    <div class="prtm-block-content">
                        <div class="pad-all-lg">
                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-xs-12">
                                    <div class="main-box users mrgn-b-lg">
                                        <div class="row">
                                            <div class="prtm-block-title col-md-12 col-lg-12 col-xs-12">
                                                <h3 class="text-capitalize">Users</h3>
                                            </div>
                                            <div class="col-md-12 col-lg-12 col-xs-12">
                                                <h2>Registered</h2> <span class="">231</span>
                                            </div>
                                            <div class="col-md-12 col-lg-12 col-xs-12">
                                                <h2>Verified</h2> <span class="">231</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
  
                                <div class="col-md-6 col-lg-6 col-xs-12">
                                    <div class="main-box bookings mrgn-b-lg">
                                        <div class="row">
                                            <div class="prtm-block-title col-md-12 col-lg-12 col-xs-12">
                                                <h3 class="text-capitalize">Bookings</h3>
                                            </div>
                                            <div class="col-md-12 col-lg-12 col-xs-12">
                                                <h2>Number of Bookings</h2> <span class="">1231</span>
                                            </div>
                                            <div class="col-md-12 col-lg-12 col-xs-12">
                                                <h2>Total Sales</h2> <span class="">43432SR</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
  
                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-xs-12">
                                    <div class="main-box packages mrgn-b-lg">
                                        <div class="row">
                                            <div class="prtm-block-title col-md-12 col-lg-12 col-xs-12">
                                                <h3 class="text-capitalize">Packages</h3>
                                            </div>
                                            <div class="col-md-12 col-lg-12 col-xs-12">
                                                <h2>Created by admin</h2> <span class="">231</span>
                                            </div>
                                            <div class="col-md-12 col-lg-12 col-xs-12">
                                                <h2>Created by experts</h2> <span class="">221</span>
                                            </div>
                                            <div class="col-md-12 col-lg-12 col-xs-12">
                                                <h2>Created by users</h2> <span class="">322</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
  
                                <div class="col-md-6 col-lg-6 col-xs-12">
                                    <div class="main-box visitors mrgn-b-lg">
                                        <div class="row">
                                            <div class="prtm-block-title col-md-12 col-lg-12 col-xs-12">
                                                <h3 class="text-capitalize">Visitors</h3>
                                            </div>
                                            <div class="col-md-12 col-lg-12 col-xs-12">
                                                <h2>Page Views</h2> <span class="">2131</span>
                                            </div>
                                            <div class="col-md-12 col-lg-12 col-xs-12">
                                                <h2>Unique Visitors</h2> <span class="">332</span>
                                            </div>
                                        </div>
                                        <div class="row new-return">
                                            <div class="col-md-6 col-lg-6 col-xs-12">
                                                <h2>New</h2> <span class=""></span>
                                            </div>
                                            <div class="col-md-6 col-lg-6 col-xs-12">
                                                <h2>Return</h2> <span class=""></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>