<div class="prtm-content">
    <form [formGroup]="CountryUpdateFormGroup">
      <div class="table-style">
        <div class="row">
          <div class="prtm-page-bar">
            <div class="col-lg-4 col-xs-12">
              <ul class="breadcrumb">
                <li class="breadcrumb-item text-capitalize">
                  <h2>update country</h2>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-xs-6">
            <div class="prtm-full-block tables-margin outer-border-none">
              <div class="prtm-block-content">
                <div class="row">
                  <div class="col-md-12 col-xs-12 mrgn-b-lg">
                    <label>Country Name</label>
                    <input type="text" class="form-control" placeholder="country name" formControlName="Name" [ngClass]="CountryUpdateFormGroup.controls['Name'].untouched || (CountryUpdateFormGroup.controls['Name'].touched && CountryUpdateFormGroup.controls['Name'].valid) ? 'valid':'notvalid'"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-xs-6 mrgn-b-lg">
                    <label>Country Code</label>
                    <input type="text" class="form-control" placeholder="country code" formControlName="CountryCode" [ngClass]="CountryUpdateFormGroup.controls['CountryCode'].untouched || (CountryUpdateFormGroup.controls['CountryCode'].touched && CountryUpdateFormGroup.controls['CountryCode'].valid) ? 'valid':'notvalid'"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
      </div>
      <div class="row">
        <div class="col-lg-12">
          <button class="btn cancel-btn">Cancel</button>
          <button class="btn add-btn" (click)="Submit(CountryUpdateFormGroup.value)">Save</button>
        </div>
      </div>
    </form>
  </div>
