<div class="prtm-content">
    <div class="prtm-page-bar">
      <div class="row">
        <div class="col-lg-4 col-xs-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item text-capitalize">
              <h2>CarModel List</h2>
            </li>
          </ul>
        </div>
        <div class="col-lg-4 col-xs-12 text-center">
          <form class="navbar-form search-section">
            <div class="input-group add-on">
              <input class="form-control" placeholder="Type in to search..." name="srch-term" id="srch-term" [(ngModel)]="Search" type="text" (ngModelChange)="GetAllCarModel()">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-4 col-xs-12 text-right">
          <a [routerLink]="['/admin/carmodel/add']" class="new-package-btn btn"><i aria-hidden="true" class="fa fa-plus"></i>&nbsp;&nbsp;Add new CarModel</a></div>
      </div>
    </div>
    <div class="table-style">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="prtm-full-block tables-margin outer-border-none">
            <div class="prtm-block-content">
              <div class="table-responsive">
                <table class="table table-hover light-heading table-bordered-curved prtm-full-block">
                  <thead class="thead-primary">
                    <tr>
                      <th style="width:10%;"> Name</th>
                      <th style="width:10%;">CarMake</th>
                      <th style="width:10%;">Capacity</th>
                      <th style="width:10%;">Doors</th>
                      <th style="width:10%;">Transmission Type</th>
                      <th style="width:10%;">BigLuggage</th>
                      <th style="width:10%;">SmallLuggage</th>
                      <th style="width:30%;">Action</th>

                    </tr>
                  </thead>
                </table>
                <table class="table table-hover light-heading table-bordered-curved prtm-full-block">
                  <tbody>
                    <tr *ngFor="let carmodel of allcarmodel">
                      <td style="width:10%;">
                        <span class="package-name">{{carmodel.Name}}</span>
                      </td>
                      <td style="width:10%;">
                        <span class="package-name">{{carmodel.CarMake.Name}}</span>
                      </td>
                      <td style="width:10%;">
                        <span class="package-name">{{carmodel.Capacity}}</span>
                      </td>
                      <td style="width:10%;">
                        <span class="package-name">{{carmodel.Doors}}</span>
                      </td>
                      <td style="width:10%;">
                        <span class="package-name">{{carmodel.TransmissionType}}</span>
                      </td>
                      <td style="width:10%;">
                        <span class="package-name">{{carmodel.BigPieceLuggage}}</span>
                      </td>
                      <td style="width:10%;">
                        <span class="package-name">{{carmodel.SmallPieceLuggage}}</span>
                      </td>
                      <td style="width:30%;" class="action-btns">
                        <a href="/admin/carmodel/update/{{carmodel.Id}}" class="scnd-action">
                          <i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit</a>
                        <a (click)="openConfirmationDialog(carmodel.Id)" class="scnd-action">
                          <i class="fa fa-trash"></i>&nbsp;&nbsp;Delete</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <app-pagination [count]="count" [page]="page" [perPage]="perPage" [pagesToShow]="pagesToShow" [loading]="loading"
          (goPrev)="prevPage()" (goNext)="nextPage()" (goPage)="goToPage($event)">
        </app-pagination>
  
      </div>
    </div>
  </div>
